.flowfuse-remote-agent-icon {
    width: 14px;
    height: 14px;
    display: inline-block;
    -webkit-mask-image: url(resources/@flowfuse/nr-remote-agent/ff-nr.png);
    mask-image: url(resources/@flowfuse/nr-remote-agent/ff-nr.png);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: 50% 50%;
    mask-position: 50% 50%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    background-color: var(--red-ui-workspace-button-color);
}
/* .red-ui-tab .flowfuse-remote-agent-icon {
    width: 16px !important;
    height: 16px !important;
    margin-right: 7px !important;
    margin-left: -5px !important;
}
.red-ui-menu .flowfuse-remote-agent-icon {
    float: left;
    width: 13px;
    height: 13px;
    margin-left: -21px;
    margin-top: 2px;
} */

.ff-remote-agent {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.ff-remote-agent-header {
    display: flex;
    align-items: center;
}
.ff-remote-agent-header > span:first-child {
    flex-grow: 1;
    text-align: left;
}
.ff-remote-agent-header > span > :not(:first-child) {
    margin-left: 5px
}
#ff-remote-agent-body {
    flex-grow: 1;
    overflow-y: auto;
}
.ff-remote-agent-pane {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.ff-remote-agent-pane-centered {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
.ff-remote-agent-settings {
    padding: 8px 20px 20px;
}
.ff-remote-agent-connection-status {
    display: flex;
    align-items: center;
}
.ff-remote-agent-connection-status-disconnected .fa {
    color: var(--red-ui-text-color-error);
}
.ff-remote-agent-connection-status-connected .fa {
    color: var(--red-ui-text-color-success);
}
.ff-remote-agent-connection-status-connecting .fa {
    color: var(--red-ui-text-color-warning);
}
#ff-remote-agent-team-list {
    width: 200px;
}

.ff-remote-agent-pane-stack {
    height: 100%;
}
.ff-remote-agent-pane-stack .red-ui-palette-category {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.ff-remote-agent-pane-stack .red-ui-palette-category > div:last-child {
    flex-grow: 1;
}
.ff-remote-agent-snapshot {
    padding: 3px 5px;
    border: 1px solid var(--red-ui-secondary-border-color);
    border-radius: 4px;
    cursor: pointer;
}
.ff-remote-agent-snapshot:hover {
    background: var(--red-ui-list-item-background-hover);
}
.ff-remote-agent-snapshot > div {
    clear: both
}
.ff-remote-agent-snapshot:not(.expanded) > div:nth-child(3) {
    display: none;
}
.ff-remote-agent-snapshot > div:nth-child(3) {
    border-top: 1px solid var(--red-ui-secondary-border-color);
    margin-top: 5px;
    padding-top: 5px;
    font-size: 0.9em;
}
.ff-remote-agent-snapshot .fa-angle-right {
    transition: transform 0.2s ease-in-out;
    transform: rotate(0deg);
}
.ff-remote-agent-snapshot.expanded .fa-angle-right {
    transform: rotate(90deg);
}


.ff-remote-agent-snapshot-name {
    display: inline-block;
    color: var(--red-ui-primary-text-color);
}
.ff-remote-agent-snapshot-description {
    white-space: pre-wrap;
}
.ff-remote-agent-snapshot-created {
    color: var(--red-ui-secondary-text-color);
    font-size: .85em;
}
.ff-remote-agent-snapshot-id {
    float: right;
    font-family: var(--red-ui-monospace-font);
    color: var(--red-ui-vcCommitShaColor);
    font-size: .85em;
    margin-left: 5px;
}
.ff-remote-agent-snapshot-user {
    float: right;
}
.ff-remote-agent-snapshot-user img {
    width: 20px;
    height: 20px;
}
.ff-remote-agent-pane .red-ui-editableList-border {
    border: none;
    border-radius: 0;
}
.ff-remote-agent-pane .red-ui-editableList-container li {
    border-bottom: none;
    padding-top: 0;
}

.ff-remote-agent-form .form-row label {
    display: block;
    width: 100%;
}
.ff-remote-agent-form .form-row > input,
.ff-remote-agent-form .form-row > textarea {
    width: 100%;
    display: block;
}

#ff-remote-agent-snapshot-project-name {
    margin-left: 8px;
}